.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  z-index: 2;
  backdrop-filter: blur(5px) brightness(80%) opacity(0);
  transition: backdrop-filter 0.2s;
}

.bgshow {
  backdrop-filter: blur(5px) brightness(80%) opacity(1);
}

.dialogueBox {
  margin: 0px 24px;
  border-radius: var(--borderRadius);
  padding: var(--boxPadding);
  display: flex;
  flex-direction: column;
  gap: 20px;
  scale: 0;
  transition: scale 0.2s;
}

.scaleUp {
  scale: 1;
}

.heading {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.close {
  padding: 10px;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

@media (min-width: 961px) {
  .dialogueBox {
    width: 30%;
    border-radius: var(--borderRadius);
    padding: var(--boxPadding);
    display: flex;
    flex-direction: column;
    gap: 20px;
    scale: 0;
    transition: scale 0.2s;
  }

  .scaleUp {
    scale: 1;
  }
}
@media (min-width: 1025px) {
}
