.container {
  position: relative;
  padding: var(--boxPadding);
  border-radius: var(--borderRadius);
  overflow: hidden;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageContainer {
  width: calc(100% + 36px);
  transform: translateX(-18px);
  aspect-ratio: 1/1;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(black, transparent);
}

@media (min-width: 961px) {
  .container {
    padding: var(--copyBoxPaddingDesktop);
    display: grid;
    place-items: center;
  }
}
