.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (min-width: 961px) {
  .container {
    display: flex;
  }

  .container > div {
    flex: 1;
  }
}
@media (min-width: 1025px) {
}
